<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 5rem;
            background-image: url('https://www.dynasafe.com.tw/upload/201902/23/201902231122494550.jpg');
            color: white;
            font-size: 28px;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }        
    </style>
    <title>Dynasafe Solution Day</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Dynasafe Technologies, Inc.</div></a>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <br />
        <br />
        <h1 style="font-size: 48px;">Continuous Integration & Continuous Deploymnet Demo</h1>
        <p>Welcome to Dynasafe</p>
    </div>
</main>

</body>

</html>
